/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global vars*/
  --bg-color: #f2f2f2;
  --text-color: #2f2f2f;
  --primary-color: #e11d48;
  --accent-color: #07a2ad;
  --secondary-color: #be123c;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}